<div style="background:url(content.png) top left repeat; width:100%; position:absolute; left:0px; top:700px; z-index:1001" class="png"></div>
<div class="body1">
	<div class="body2">
		<header>
			<div class="wrapper">
				<div class="container_12">
					<div class="grid_12">
						<!--header -->
						<div class="wrapper">
							<h1><a href="#" id="logo">q-Water</a></h1>
							<nav>
								<ul id="menu">
									<li class="active">
										<a href="#"><span><span>About us</span></span></a>
									</li>
									<li>
										<a href="#"><span><span>Quality</span></span></a>
									</li>
									<li>
										<a href="#"><span><span>Products</span></span></a>
									</li>
									<li>
										<a href="#"><span><span>News</span></span></a>
									</li>
									<li>
										<a href="#"><span><span>Contact&nbsp;us</span></span></a>
									</li>
								</ul>
							</nav>
						</div>

						<!--header end-->
					</div>
				</div>
			</div>
		</header>
	</div>
</div>
<!--content -->
<div class="body3">
	<div class="body4">
		<div class="container_12">
			<section id="content">
				<div class="wrapper">
					<article class="grid_4">
						<div class="marg_right1">
							<h2>Domestic <span>filters</span></h2>
							<figure><img src="http://images.osc4.template-help.com/wt_32828/images/page1_img1.png" alt="" class="pad_bot1">
							</figure>
							<p class="pad_bot1">
								Over time impurities can become physically trapped in your filter causing it to become clogged. In order for the water filter to
								<br>
								continue working effectively it is necessary
								<br>
								to replace your water filter on
								<br>
								a regular basis.
							</p>
							<div class="center">
								<a href="#" class="button">Details</a>
							</div>
						</div>
					</article>
					<article class="grid_4">
						<div class="marg_right1">
							<h2>Housing <span>filters</span></h2>
							<figure><img src="http://images.osc4.template-help.com/wt_32828/images/page1_img3.png" alt="" class="pad_bot1">
							</figure>
							<p class="pad_bot1">
								City water treatment removes dirt and debris while adding chlorine to prevent the spread
								<br>
								of diseases, producing unpleasant taste and
								<br>
								odor in tap water. It does not remove
								<br>
								dissolved minerals and contaminants from
								<br>
								the water.
							</p>
							<div class="center">
								<a href="#" class="button">Details</a>
							</div>
						</div>
					</article>
					<article class="grid_4">
						<div class="marg_right1">
							<h2>Commercial <span>filters</span></h2>
							<figure><img src="http://images.osc4.template-help.com/wt_32828/images/page1_img3.png" alt="" class="pad_bot1">
							</figure>
							<p class="pad_bot1">
								We supply and install 3 stage and 5 stage Reverse Osmosis filter systems. These
								<br>
								systems can be easily installed under the
								<br>
								sink to treat water directly at the point
								<br>
								of use.
							</p>
							<div class="center">
								<a href="#" class="button">Details</a>
							</div>
						</div>
					</article>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="body5">
	<div class="body6">
		<div class="container_12">
			<section id="content2">
				<article class="grid_8">
					<div class="marg_right2">
						<div class="wrapper pad_bot1">
							<figure class="left marg_right1"><img src="http://images.osc4.template-help.com/wt_32828/images/page1_img4.jpg" alt="">
							</figure>
							<h3>Our  filters<span>make  your</span><span>water  clean</span></h3>
						</div>
						<p class="pad_bot2">
							Company name is a leading manufacturer of self-cleaning water filters, automatic water filters and strainers, for use as industrial water filters, irrigation filters, cooling tower filters and more.
							ingle units, flange-to-flange systems, complete skid mounted packages, construction standards, alternate flange or voltage standards - all are no problem for our company. No matter what your requirements, we can build it!
						</p>
						<div class="wrapper">
							<a href="#" class="button right">read more</a>
						</div>
					</div>
				</article>
				<article class="grid_4">
					<h3>Water  Filtration<span>Solutions</span></h3>
					<ul>
						<li class="wrapper">
							<span class="dropcap_1">1</span><a href="#">Qwater is a leading manufacturer of self-cleaning water filters...</a>
						</li>
						<li class="wrapper">
							<span class="dropcap_1">2</span><a href="#">Automatic water filters and strainers, for use as industrial water filters...</a>
						</li>
						<li class="wrapper">
							<span class="dropcap_1">3</span><a href="#">No matter what your requirements, we can build it!</a>
						</li>

					</ul>
					<div class="wrapper">
						<a href="#" class="button right">read more</a>
					</div>
				</article>
			</section>
		</div>
	</div>
</div>
<!--content end-->
<!--footer -->
<div class="container_12">
	<div class="grid_12">
		<footer>
			<div class="wrapper">
				<span>Q-Water</span> &copy; 2011All rights reserved  &nbsp; |  &nbsp; <a href="http://images.osc4.template-help.com/wt_32828/index-5.html">Privacy Policy</a>
				<br>
				<!-- {%FOOTER_LINK} -->
			</div>
		</footer>
		<!--footer end-->
	</div>
</div>