/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

cufon {
    text-indent: 0 !important;
}
cufon {
    display: inline-block !important;
    font-size: 1px !important;
    line-height: 1px !important;
    position: relative !important;
    vertical-align: middle !important;
}
cufon cufontext {
    display: inline-block !important;
    height: 0 !important;
    overflow: hidden !important;
    text-indent: -10000in !important;
    width: 0 !important;
}
cufon canvas {
    position: relative !important;
}
cufon {
    padding: 0 !important;
}
cufon canvas {
    display: none !important;
}
